# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Backend
backend/node_modules/
backend/dist/
backend/.env
backend/.env.local
backend/logs/
backend/*.log

# Mobile
mobile/.gradle/
mobile/build/
mobile/app/build/
mobile/local.properties
mobile/.idea/
mobile/*.iml
mobile/captures/
mobile/.externalNativeBuild/
mobile/.cxx/
